.background{
    height: 100vh;
    background-image:
    linear-gradient(to bottom,
    #359589 0px,
    #359589 15vh,
    #dddbd1 15vh,
    #d2dbdc 100%);
}
.mainContainer{
    background-color: white;
}
.firstRow{
    height: 100%;
}
.avatar{
    height: 70px;
}
.greyText{
    color: #B0B1B3;
}
.lightBlueText{
    color: #99DAFD;
}
.bgLightBlue{
    background-color: #99DAFD;
}
.col-4,
.col-8{
    padding: 0 !important;
}
.chatMessages,
.listContacts{
    list-style: none;
    margin: 0;
    padding: 0;
}
.chatBg{
    background-image: url('./../img/mine.jpg');
}
.sent{
    background-color: #D8F8BF;
    border-radius: 10px;
}
.received{
    border-radius: 10px;
    background-color: white;
}
.col-8{
    min-height: 100% !important;
}